
<h2>{{ 'title-my-events' | translate }}</h2>
<div *ngIf="!(events?.length > 0)">
  <p>
    <span class="no-account-text">{{ 'message-no-events' | translate }}</span>
    <a [routerLink]="['/event/add']" class="btn btn-primary">{{ 'button-add-event' | translate }}</a>
  </p>
</div>
<div *ngIf="(events?.length > 0)">
<div id="export-events" class="button-row1">
  <button class="btn btn-primary float-left" (click)="reloadEvents()">
    {{ 'button-refresh' | translate }}
  </button>
  <button type="submit" class="btn btn-success float-right" (click)="exportEvents()">
    {{ 'button-export' | translate }}
  </button>
</div>
<table class="table">
  <thead>
  <tr>
    <th scope="col">{{ 'column-title' | translate }}</th>
    <th scope="col">{{ 'column-description' | translate }}</th>
    <th scope="col">{{ 'column-location' | translate }}</th>
    <th scope="col">{{ 'column-start-date' | translate }}</th>
    <th scope="col">{{ 'column-end-date' | translate }}</th>
    <th scope="col"></th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
    <tr scope="row" *ngFor="let event of events">
      <td>{{event.title}}</td>
      <td>{{event.description}}</td>
      <td>{{event.location}}</td>
      <td>{{event.start | date: 'dd-MM-yyyy'}}</td>
      <td>{{event.end | date: 'dd-MM-yyyy'}}</td>
      <td>
        <a [routerLink]="['/event', event._id]" class="btn btn-warning">{{ 'button-edit' | translate }}</a>
      </td>
      <td>
        <button class="btn btn-danger">{{ 'button-delete' | translate }}</button>
      </td>
    </tr>
  </tbody>
</table>
</div>
