.language-bar{
    text-align: right;
}

ul.language-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.language-list > li {
    display: inline;
    cursor: pointer;
}

ul.language-list > li:first-child:before {
    content: '';
}

ul.language-list > li:before {
    content: ' | ';
}

ul.language-list > li > a.active {
    font-weight: 900;
    cursor: default;
}
