<div *ngIf="event">
  <h2>{{pageTitle}}</h2>
  <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>{{ 'field-title' | translate }}</label>
      <input
        class="form-control"
        type="text"
        id="title"
        name="title"
        formControlName="title"
        [ngClass]="{ 'is-invalid': submitted && form.title.errors }"
      />
      <div *ngIf="submitted && form.title.errors" class="invalid-feedback">
        <div *ngIf="form.title.errors.required">{{ 'field-title' | translate }}{{ 'error-required' | translate }}</div>
      </div>
    </div>
    <div class="form-group">
      <label for="description">{{ 'field-description' | translate }}</label>
      <input
        class="form-control"
        type="text"
        id="description"
        name="description"
        formControlName="description"
        [ngClass]="{ 'is-invalid': submitted && form.description.errors }"
      />
      <div *ngIf="submitted && form.description.errors" class="invalid-feedback">
        <div *ngIf="form.description.errors.required">{{ 'field-description' | translate }}{{ 'error-required' | translate }}</div>
      </div>
    </div>
    <div class="form-group">
      <label for="location">{{ 'field-location' | translate }}</label>
      <input
        class="form-control"
        type="text"
        id="location"
        name="location"
        formControlName="location"
        [ngClass]="{ 'is-invalid': submitted && form.location.errors }"
      />
      <div *ngIf="submitted && form.location.errors" class="invalid-feedback">
        <div *ngIf="form.location.errors.required">{{ 'field-location' | translate }}{{ 'error-required' | translate }}</div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-6">
          <label style="margin-right: 10px">
            {{ 'field-start-date' | translate }}
          </label>
          <input
            class="form-control"
            type="text"
            id="start_date"
            name="start_date"
            bsDatepicker
            formControlName="startDate"
            [ngClass]="{ 'is-invalid': submitted && form.startDate.errors }"
          />
          <div *ngIf="submitted && form.startDate.errors" class="invalid-feedback">
            <div *ngIf="form.startDate.errors.required">Start date {{ 'error-required' | translate }}</div>
          </div>
        </div>
        <div class="col-6">
          <label  style="margin-right: 10px">
            {{ 'field-end-date' | translate }}
          </label>
          <input
            class="form-control"
            type="text"
            id="end_date"
            name="end_date"
            bsDatepicker
            formControlName="endDate"
            [ngClass]="{ 'is-invalid': submitted && form.endDate.errors }"
          />
          <div *ngIf="submitted && form.endDate.errors" class="invalid-feedback">
            <div *ngIf="form.endDate.errors.required">{{ 'field-end-date' | translate }}{{ 'error-required' | translate }}</div>
          </div>
        </div>
      </div>
    </div>
    <a [routerLink]="['/events']" class="btn btn-primary">{{ 'button-back' | translate }}</a>
    <button type="submit" class="btn btn-success float-right">
      {{ 'button-save' | translate }}
    </button>
  </form>

</div>
